extends ../layout

append head-scripts
    script
        :coffee
            app= angular.module 'app', ['layout', 'awesome']



            app.config ($routeProvider, path, AppServiceProvider) ->

                $routeProvider.when path+'/', AppServiceProvider.Route.factory 'index', 'view',
                    templateUrl:'partials/', controller: 'IndexRouteCtrl'

                $routeProvider.when path+'/profile', AppServiceProvider.Route.factory 'profile', 'view',
                    templateUrl:'partials/profile/', controller: 'ProfileRouteCtrl'



            app.factory 'User', ($resource) ->
                $resource '/api/v1/user/:action', {},
                    logout:
                        method: 'get'
                        params:
                            action: 'logout'



            app.controller 'AppHeadCtrl', ($scope, User, $window) ->
                $scope.logout= ->
                    User.logout ->
                        $window.location.href= '/'
                        $scope.notify 'done', 'logout'
                    , (err) ->
                        $scope.notify 'error', err



            app.controller 'IndexRouteCtrl', ($scope, $rootScope, User) ->
                $rootScope.user= User.get (user) ->
                        console.log 'удалось получить пользователя', user
                ,   (err) ->
                        console.log 'не удалось получить пользователя', err



            app.controller 'ProfileRouteCtrl', ($scope) ->
                console.log 'ProfileRouteCtrl'





append navbar-right
    li.active: a(href='/my/')
        u My

    li.dropdown
        a
            strong= user.name
            i.caret
        menu.nav.nav-list.dropdown-menu
            li: a(ng-click="logout()") Logout



append app-main
    div(ng-view)

