.layout-landing
    .row
        .col-12
            h1 applications
            img(src='https://www.evernote.com/shard/s92/sh/83c736b2-dc74-4c15-8e5c-c4e394523789/90a14d55eae59988722358a8999afdbf/res/8561ffc2-65eb-459a-91d3-c44cbd937d17/resource.jpg')
            img(src='https://www.evernote.com/shard/s92/sh/90080712-00a0-466e-af79-5e58add74de0/24b851df7e070a63bfeb4d2ba899beee/res/0325e617-fe62-4cac-b83c-4e32ab9e8b31/resource.jpg')
            img(src='https://www.evernote.com/shard/s92/sh/19fee4ae-2797-410d-85cd-4bb9ebc83402/829e639a3e5335d80c4ff3865da8145d/res/45b4e964-8c8b-4f8a-aed4-7300e780c114/resource.jpg')