include mixins

doctype html
html(lang='ru', ng-app='app', ng-controller='AppCtrl')


    head
        block head
            meta(charset='utf-8')
            title(ng-bind="app.title") JET ENGINE -- A NodeJS CMF...

            block head-links
                link(rel='stylesheet', href='/styles/awesome.css')
                link(rel='stylesheet', href='/styles/awesome-navs.css')
                link(rel='stylesheet', href='/styles/awesome-tabs.css')
                link(rel='stylesheet', href='/styles/awesome-forms.css')
                link(rel='stylesheet', href='/styles/awesome-dialogs.css')
                link(rel='stylesheet', href='/styles/jet.css')


            block head-scripts
                script(src='/scripts/libs/jquery/jquery.min.js')
                script(src='/scripts/libs/angular/angular.min.js')
                script(src='/scripts/libs/angular/angular-animate.min.js')
                script(src='/scripts/libs/angular/angular-resource.min.js')
                script(src='/scripts/libs/angular/angular-route.min.js')
                script(src='/scripts/awesome.js')

                script
                    :coffee
                        app= angular.module 'layout', []

                        app.constant 'version', '0.4.7'
                        app.constant 'path', ''
                        app.constant 'debug', console





    body: block body
        .b-app
            header.b-app--head(ng-controller="AppHeadCtrl"): block app-head
                .navbar.navbar-static-top

                    a.navbar-brand(ng-href="/")
                        span jet engine
                        sup  {{app.version}}

                    .nav-collapse

                        ul.nav.navbar-nav.pull-left: block navbar-left

                        ul.nav.navbar-nav.pull-right: block navbar-right



            main.b-app--body: .row
                .b-app--main: block app-main



            menu.b-app--notifications(ng-if="app.notify.notifications.length")
                .b-app--notification(ng-repeat="notification in app.notify.notifications")
                    p.note(ng-if="'error'==notification.type") {{notification}}



            section.b-app--demo  



            footer.b-app--foot
                .navbar
                    a.navbar-brand(ng-class="{active:'index'==app.route.name}", ng-href="{{app.prefix}}/")
                        span jet engine
                        sup  {{app.version}}
