extends ../../layout

append head-scripts
    script
        :coffee
            app= angular.module 'awesomeFront', ['layout', 'awesome']




append app-main
    style
        :less
            .layout-landing {
                margin: 10% 15%;
            }

    .layout-landing
        .row
            .col-12
                h1 js
                    a: u jet engine
                    p.fly: i.icon-rocket
