extends ../layout



block b-page--main

    .section--main--bar: .row
        .col-10
            input.input(placeholder='Поиск', ng-model='playerSearch')
        .col-2
            a.btn.btn-primary(ng-click='showDetails(null)')= 'Создать'

    table.table.users
        thead
            tr
                th.t: .t-col #
                th.t.col-flex: .t-col.table-col: .table-col-sortable Пользователь
                th.t: .t-col Статус
                th.t: .t-col
                    button.btn.btn-sm(ng-click='reload()')
                        i.icon-refresh


        tbody
            tr(ng-repeat='user in users | filter:userSearch')
                td.t: .t-col: a(ng-href="#/users/user/{{user.id}}"): u {{user.id}}
                td.t: .t-col: a(ng-href="#/users/user/{{user.id}}"): u {{user.name}}
                td.t: .t-col
                    button(ng-if='!user.enabledAt', ng-click='activate(user)').btn.btn-success
                        i.icon-unchecked
                    button(ng-if='user.enabledAt', ng-click='deactivate(user)').btn.btn-success
                        i.icon-sign-blank
                td.t: .t-col
                    button.btn.btn-success(ng-click='showDetails(user)')
                        i.icon-wrench
