extends ./layout



block b-page--head
    h1 Управление пользователями
    menu.b-page-head--menu
        li.active: a: u Профили
        li: a: u Разрешения
    //.b-page-head--btns.row
        .col-xs-3
            a.b-page-head--btn.btn() HEAD WIDGET
        .col-xs-3
            a.b-page-head--btn.btn() HEAD WIDGET
        .col-xs-3
            a.b-page-head--btn.btn.primary() HEAD WIDGET .primary
        .col-xs-3
            a.b-page-head--btn.btn() HEAD WIDGET


block b-page--side

    menu.nav.nav-list
        li: a(ng-href="#/users")
            span.nav-button 1
        li.active: a(ng-href="#/users")
            span.nav-button 2
        li: a(ng-href="#/users")
            span.nav-button 3



block b-page--main
    section.section.dashboard.row()
        nav.section-nav.col-xs-12.col-sm-4.col-lg-3
            menu.nav.nav-tags
                li.active: a(ng-href="#/users/user/~") Профили пользователей
                li: a(ng-href="#/users/group/~") Профили групп
        .col-xs-12.col-sm-8.col-lg-9
            article.article.card-list.row(ng-controller="UsersUserListCtrl")
                .col-xs-12: nav.article-nav
                    a.btn(ng-href="#/users/user/create/profile") + Добавить пользователя
                .col-xs-12.col-md-6.col-lg-4(ng-if="$list.page.number").card-col
                    a.btn(ng-click="$listPrev()") ← предыдущая страница
                .col-xs-12.col-md-6.col-lg-4(ng-repeat="user in users | $listFilter:$list").card-col
                    figure.card
                        span.card-side.pull-right
                            a(ng-click="expandCard()")
                                u {{user.name}}
                                i(style='margin-right:10px; margin-left:15px; border-top-color:rgba(94, 94, 94, 0.73);').caret

                        figcaption.card-head
                            h3.card-title
                                a(ng-href="#/users/user/{{user.id}}")
                                    u {{user.title}}
                                    i.indicator
                                        hr.value
                        .indicator
                            hr.value
                .col-xs-12.col-md-6.col-lg-4(ng-if="0 < ((1 + $list.page.number) * $list.page.length) < users.length").card-col
                    a.btn(ng-click="$listNext()") следующая страница →
