.layout-landing
    .row
        .col-12
            h1 develop 
                span(style='text-transform:lowercase; letter-spacing:0;') with 
                a jet engine
                p advanced express
                p framework for
                p node