include ../../../mixins.jade

block view
    .b-page: block b-page

        .b-page--head: block b-page--head
        .b-page--side: block b-page--side
        .b-page--main: block b-page--main
        .b-page--foot: block b-page--foot


    .view-inner.view-inner-error(ng-if='"error"==state'): block error
        .view--section
            .container
                .row: .col-12
                    hgroup.view--title-group
                        h1.view--title {{error.status}} {{error.data.name}}
                        h2.view--title {{error.data.message}}
