.layout-landing
    .row
        .col-12
            h1 js
                a: u jet engine
                p advanced angular on express
                p content management
                p framework for
                p node
                p.fly: i.icon-rocket
