extends ../layout



block view
    .b-users-user-dialog(ng-controller="UsersUserDialogCtrl")
        +bDialogHead()

            i.icon-user
            span Информация о пользователе
            +bDialogActs()
                a(ng-click="showEditor()"): u режим редактирования
                a(ng-click="showHelp()"): u справка
                +bDialogActClose()

        +bDialogTabs()

            ul.nav.nav-tabs
                li(ng-class="{active:!dialog.tab, disable:dialog.tabs.disabled.index}")
                    a(ng-href="{{dialog.location}}") Информация
                li(ng-class="{active:'profile'==dialog.tab, disable:dialog.tabs.disabled.profile}")
                    a(ng-href="{{dialog.location}}/profile") Профиль пользователя
                li(ng-class="{active:'account'==dialog.tab, disable:dialog.tabs.disabled.account}")
                    a(ng-href="{{dialog.location}}/account") Аккаунты

        +bDialogBody()

            .b-users-user(ng-if="!dialog.tab")
                .b-dialog--main-side
                    .b-panel
                        img.b-users-user--image(ng-src="/i/users/1.jpg", width='210', height='210')
                    a.b-btn.b-btn-block(ng-if="!model.enabledAt", ng-click="enable(model)") Включить
                    a.b-btn.b-btn-block(ng-if="model.enabledAt", ng-click="enable(model)") Выключить
                .b-dialog--main-main
                    .row
                        .col-lg-5
                            h1.b-users-user--title {{model.title}}
                            h2.b-users-user--name-label.b-label(title="{{model.id}}")
                                b.b-users-user--name {{model.name}}
                                span.b-users-user--accounts
                                    span.b-users-user--account(ng-repeat="account in model.accounts")
                                        img.b-users-user--account--type(ng-src="/favicon-{{account.type}}.ico", width=16, height=16)
                            .b-users-user--emails
                                b.b-users-user--emails-label(ng-switch="model.emails.length > 1")
                                    span(ng-switch-when="true") Электронные адреса:  
                                    span(ng-switch-when="false") Электронный адрес:  
                                    a.b-users-user--emails-edit-toggle(ng-click="showEditDialog('emails')"): u.dashed редактировать
                                span.b-users-user--emails-list.list
                                    a.b-users-user--email.list--item(ng-repeat="email in model.emails", href='')
                                        span {{email.value}}
                            .b-users-user--phones
                                b.b-users-user--phones-label(ng-switch="model.phones.length > 1")
                                    span(ng-switch-when="true") Телефоны:  
                                    span(ng-switch-when="false") Телефон:  
                                    a.b-users-user--phones-edit-toggle(ng-click="showEditDialog('phones')"): u.dashed редактировать
                                span.b-users-user--phones-list.list
                                    a.b-users-user--phone.list--item(ng-repeat="phone in model.phones", href='')
                                        span {{phone.value}}
                        .col-lg-7
                            .b-users-user--groups
                                b.b-users-user--groups-label Группы:  
                                    a.b-users-user--groups-edit-toggle(ng-click="showEditDialog('groups')"): u.dashed редактировать
                                span.b-users-user--groups-list.list
                                    a.b-users-user--group.b-label.list--item(ng-repeat="group in model.groups", ng-href="#/groups/{{group.name}}"): u
                                        span.b-users-user--group--name {{group.name}}
                            .b-users-user--permissions
                                b.b-users-user--permissions-label Разрешения:  
                                    a.b-users-user--permissions-edit-toggle(ng-click="showEditDialog('permissions')"): u.dashed редактировать
                                span.b-users-user--permissions-list.list
                                    a.b-users-user--permission.b-label.list--item(ng-repeat="permission in model.permissions", ng-href="#/permissions/{{permission.name}}"): u
                                        i.icon-unlock-alt
                                        span.b-users-user--permission--name {{permission.name}}
                            .b-users-user--sessions
                                b.b-users-user--sessions-label Сессии:  
                                    a.b-users-user--sessions-edit-toggle(ng-click="showEditDialog('sessions')"): u.dashed редактировать
                                span.b-users-user--sessions-list.list
                                    a.b-users-user--session.b-label.list--item(ng-repeat="session in model.sessions", ng-href="#/sessions/{{session.sessionId}}"): u
                                        span.b-users-user--session--name {{session.sessionId}}

            .b-users-user(ng-if="'profile'==dialog.tab")
                .b-dialog--main-side
                .b-dialog--main-main
                    .row
                        .col-xs-12.col-md-6
                            style.
                                .deleted input {
                                    text-decoration: line-through;
                                }
                            form.form(name='ProfileForm', ng-submit="save(ProfileForm)")
                                input.input(name='name', placeholder='Псевдоним', required, ng-model="model.name", ng-pattern="/^[a-z][a-z0-9]{2,}$/")
                                input.input(name='title', placeholder='Полное имя пользователя', required, ng-model="model.title")
                                fieldset.fieldset(name='ProfileEmailsForm')
                                    .row(ng-repeat="email in model.emails", ng-class="{deleted:email.deleted}")
                                        .col-xs-8: input.input(name='emails[]', placeholder='Электронная почта', required, ng-model="email.value", ng-pattern="/^.+@.+$/")
                                        .col-xs-4(ng-if="!email.deleted"): a.btn.btn-link(ng-click="remEmail(email)") −
                                        .col-xs-4(ng-if="email.deleted"): a.btn.btn-link(ng-click="resEmail(email)") +
                                    a.btn.btn-link(ng-click="addEmail()") + Еще адресс
                                fieldset.fieldset(name='ProfilePhonesForm')
                                    .row(ng-repeat="phone in model.phones", ng-class="{deleted:phone.deleted}")
                                        .col-xs-8: input.input(name='phones[]', placeholder='Телефон', required, ng-model="phone.value", ng-pattern="/^\\+[0-9]+$/")
                                        .col-xs-4(ng-if="!phone.deleted"): a.btn.btn-link(ng-click="remPhone(phone)") −
                                        .col-xs-4(ng-if="phone.deleted"): a.btn.btn-link(ng-click="resPhone(phone)") +
                                    a.btn.btn-link(ng-click="addPhone()") + Еще телефон
                                .form-acts
                                    button.btn(type='submit', ng-disabled="!ProfileForm.$valid") Сохранить профиль

        +bEditDialog()
            +bEditDialogArea()
            +bEditDialogMain()
                .b-projects-project--participants-edit-dialog
                    +bEditDialogHead()
                        i.icon-edit
                        span Редактировать...
                        +bEditDialogActs()
                            a(ng-click="showHelp()"): u справка
                            +bEditDialogActClose()
                    +bEditDialogBody()
                        .row
                            .col-xs-12.col-md-7  
