.layout-landing
    .row
        .col-12
            h1 design 
                span(style='text-transform:lowercase; letter-spacing:0;') with 
                a jet engine
                p advanced angular
                p framework for
                p bootstrap